img {
    /* height: 300px; */
    width: 120px;
    height: auto;
}

.painter {
    margin: auto;
    width: 80%;
    height: auto;
    position: relative;
    display: flex;
}

.edit-but {
    width: 120px;
    background-color: rgb(255, 168, 118);
    border: 0;
    font-weight: bold;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
}

.painter-photo {
    padding: 10px;
    padding-bottom: 0;
}

.painter-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-text {
    margin: auto;
    padding: 5px;
    width: 100%;
    height: auto;
    text-align: justify;
    text-indent: 1.5em;
    font-size: 22px;
}